* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Single Day', sans-serif;
    background-color: #FFEAE3;
}

h2 {
    font-size: 8rem;
    margin-bottom: 1rem;
    color: #3E3A3A;
}

.container {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.love, .yes, .no {
   padding: 20%;
}

.love span {
    color: red;
}

a {
    text-decoration: none;
    font-size: 4rem;
    margin: 2rem 1rem;
}

#no {
    color: white;
    background-color: #DD5B6C;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

#yes {
    color: white;
    background-color: #69C272;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

img {
    height: 4rem;
    width: 4rem;
    animation: heart 4s linear infinite
}

@keyframes heart {
    0% {transform: scale(.5);}
    50% {transform: scale(1.25);}
    100% {transform: scale(.5);}
}